/bin/
/eclipse/
/logs/
/saves/
/.metadata/
/.gradle/
.classpath
.project
*.prefs
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
options.txt
*.cfg
usernamecache.json
LICENSE-fml.txt
forge-1.8-11.14.1.1334-changelog.txt
CREDITS-fml.txt